section.call {
	// height: 50vh;
	div.container-fluid {
		padding: 70px 0px;
		height: 100%;
		background-image: url(../img/backgroundServices.png);
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h3 {
			text-align: center;
			color: white;
			font-size: 2em;
			font-weight: 500;
			margin-bottom: 1em;
			padding: 0px 40px;
		}
		h1 {
			text-align: center;
			color: white;
			font-size: 2.5em;
			font-weight: 700;
			padding: 0px 40px;
		}
	}
}
