section.services {
    background-image: url(../img/backgroundServices.png);
    background-position: center;
    background-size: cover;
    // height: 100vh;
    div.container {
        
        div.row {
            div.headerTop {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 150px;
                 h1 {
                    font-size: 2.5em;
                    color: $middleBrown;
                    font-weight: 700;
                }
            }
            div.custom {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 50vh;
                margin: 20px 0px;
                div.contentWrapper {
                    width: 75%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        width: 80px;
                    }
                    h4 {
                        font-size: 1.3em;
                        font-weight: 500;
                        color: white;
                    }
                    p {
                        color: white;
                    }
                }
            }
        }
    }
}